<!-- app/templates/portfolio/portfolio_item_details.html -->

{% extends "base.html" %}
{% block title %}Portfolio Items{% endblock %}
{% block body %}


<div class="container-fluid">

	{% if (folio_item is defined and folio_item|length > 0) %}


		<div class="row justify-content-md-center">

				<div class="col-lg-8 col-sm-12 m-2">

					{% for message in get_flashed_messages() %}
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						  {{ message }}
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
					</div>
					{% endfor %}

					<!-- Toolbar -->
					<div class="row">
						<div class="col-lg-12 col-sm-12 ">
							<span class="d-block p-1 rounded-top border border-dark cst_form_heading">
								<div class="clearfix">
									<span class="align-middle">
										<img src="{{ url_for('static', filename='icons') }}/{{ folio_item.symbol }}.png" alt=""  width="30" height="30"/>
									</span>

									<span class="align-middle">
										&nbsp;{{ folio_item.name }} ({{ folio_item.symbol }})
									</span>



									<div class="btn-group float-right" role="group">

										<a href="{{ url_for('portfolio.update_portfolio_items', id=folio_item.item_id) }}" class="btn btn-success btn-sm" role="button"><i class="fa fa-edit"></i></a>

										<a href="{{ url_for('portfolio.list_portfolio_items') }}" class="btn btn-outline-success btn-sm" role="button"><i class="fas fa-arrow-left"></i></a>

					  				</div>

									<div class="btn-group float-right mr-2" role="group">
										<a href="{{ url_for('portfolio.portfolio_item_charts', id=folio_item.item_id, duration='7D') }}" class="btn btn-outline-success btn-sm" role="button"><i class="fas fa-chart-bar"></i></a>
										<a href="{{ url_for('portfolio.list_portfolio_items') }}" class="btn btn-outline-success btn-sm" role="button"><i class="fab fa-twitter"></i></a>
									</div>


									<div class="btn-group float-right mr-2" role="group">
										<a href="{{ url_for('portfolio.del_portfolio_items', id=folio_item.item_id) }}" onclick="return confirm('Do you want to delete this record?')" class="btn btn-danger btn-sm" role="button"><i class="fas fa-trash-alt"></i></a>
					  				</div>

									<div class="btn-group float-right mr-2" role="group">
										<a href="{{ url_for('portfolio.get_live_price', id=folio_item.item_id, symbol=folio_item.symbol, name=folio_item.name) }}" class="btn btn-outline-warning btn-sm" role="button"><i class="fas fa-desktop"></i> Live</a>
									</div>


								</div>
							</span>
						</div>
					</div>


					<!-- Full Width Row for Charts -->
					<div class="row">
						<div class="col-lg-12 col-sm-12">
							<span class="d-block p-0 border border-top-0 border-dark cst_form_content">
								<div class="row">

									<!-- Column for Chart 1 -->
									<div class="col-lg-6 col-sm-6">
										<canvas id="myChart"></canvas>
									</div>

									<!-- Column for Chart 2 -->
									<div class="col-lg-6 col-sm-6 ">
										<canvas id="myChart2"></canvas>
									</div>

								</div>
							</span>
						</div>
					</div>


					<!-- Full Width Row for Table -->
					<div class="row">

						<div class="col-lg-12 col-sm-12">
							<span class="d-block p-2 border rounded-bottom border-top-0 border-dark cst_form_content">
								<div class="row">

									<!-- Left Side Table -->
									<div class="col-lg-6 col-sm-6 ">
										<div class="table-responsive">
											<table class="table table-hover table-sm cst_table-bordered_2">
												<tbody>
													<tr >
														<td>
															Coin:
														</td>
														<td>
															{{ folio_item.name }} ({{ folio_item.symbol }})
														</td>
													</tr>
													<tr>
														<td>
															 Quantity:
														</td>
														<td>
															{{ folio_item.quantity }}
														</td>
													</tr>
													<tr class="table-{{ folio_item.css_class }}">
														<td>
															Purchase Price (USD):
														</td>
														<td>
															{{ folio_item.purchase_price }}
														</td>
													</tr>
													<tr class="table-{{ folio_item.css_class }}">
														<td>
															Current Price (USD):
														</td>
														<td class="text-{{ folio_item.css_class }}">
															<i class="fa fa-arrow-{{ 'up' if folio_item.css_class == 'success' else 'down' }}"></i> {{ folio_item.current_price }}
														</td>
													</tr>										
													<tr class="table-{{ folio_item.css_class }}">
														<td>
															Current Asset Value (USD):
														</td>
														<td class="text-{{ folio_item.css_class }}">
															<i class="fa fa-arrow-{{ 'up' if folio_item.css_class == 'success' else 'down' }}"></i> {{ folio_item.current_asset_value }}
														</td>
													</tr>
													<tr class="table-{{ folio_item.css_class }}">
														<td>
															Profit / Loss (USD):
														</td>
														<td class="text-{{ folio_item.css_class }}">
															<i class="fa fa-arrow-{{ 'up' if folio_item.css_class == 'success' else 'down' }}"></i> {{ folio_item.profit_loss_amt }}
														</td>
													</tr>
													<tr class="table-{{ folio_item.css_class }}">
														<td>
															Change %:
														</td>
														<td class="text-{{ folio_item.css_class }}">
															<i class="fa fa-arrow-{{ 'up' if folio_item.css_class == 'success' else 'down' }}"></i> {{ folio_item.change_percentage }} %
														</td>
													</tr>
													<tr>
														<td>
															Original Asset Value (USD):
														</td>
														<td>
															{{ folio_item.original_asset_value }}
														</td>
													</tr>
													<tr>
														<td>
															Broker Fee (USD):
														</td>
														<td>
															{{ folio_item.purchase_fees }}
														</td>
													</tr>
													<tr>
														<td>
															Purchase Date Time:
														</td>
														<td>
															{{ folio_item.purchase_date }}
														</td>
													</tr>
													<tr>
														<td>
															Broker:
														</td>
														<td>
															{{ folio_item.broker }}
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>

									<!-- Right Side Table -->
									<div class="col-lg-6 col-sm-6 ">
										<div class="table-responsive">
											<table class="table table-hover table-sm cst_table-bordered_2">
												<tbody>
													<tr>
														<td>
															Rank:
														</td>
														<td>
															{{ coin_data.coin_rank }}
														</td>
													</tr>
													<tr>
														<td>
															Price BTC:
														</td>
														<td>
															{{ coin_data.price_btc }}
														</td>
													</tr>
													<tr>
														<td>
															Market Cap (USD):
														</td>
														<td>
															{{ coin_data.market_cap_usd }}
														</td>
													</tr>
													<tr>
														<td>
															24h Volume (USD):
														</td>
														<td>
															{{ coin_data.volume_usd_24h }}
														</td>
													</tr>
													<tr>
														<td>
															Available Supply:
														</td>
														<td>
															{{ coin_data.available_supply }}
														</td>
													</tr>
													<tr>
														<td>
															Total Supply:
														</td>
														<td>
															{{ coin_data.total_supply }}
														</td>
													</tr>
													<tr>
														<td>
															Max Supply:
														</td>
														<td>
															{{ coin_data.max_supply }}
														</td>
													</tr>
													<tr>
														<td>
															Change (1 Hour):
														</td>
														<td class="text-{{ 'success' if coin_data.percentage_change_1h > 0 else 'danger' }}">
															<i class="fa fa-arrow-{{ 'up' if coin_data.percentage_change_1h > 0 else 'down' }}"></i> {{ coin_data.percentage_change_1h }} %
														</td>
													</tr>
													<tr>
														<td>
															 Change (24 Hour):
														</td>
														<td class="text-{{ 'success' if coin_data.percentage_change_24h > 0 else 'danger' }}">
															<i class="fa fa-arrow-{{ 'up' if coin_data.percentage_change_24h > 0 else 'down' }}"></i> {{ coin_data.percentage_change_24h }} %
														</td>
													</tr>
													<tr>
														<td>
															 Change (7 Days):
														</td>
														<td class="text-{{ 'success' if coin_data.percentage_change_7d > 0 else 'danger' }}">
															<i class="fa fa-arrow-{{ 'up' if coin_data.percentage_change_7d > 0 else 'down' }}"></i> {{ coin_data.percentage_change_7d }} %
														</td>
													</tr>
													<tr>
														<td>
															 Record Last Updated:
														</td>
														<td>
															{{ coin_data.last_updated }} UTC
														</td>
													</tr>
						
													<tr>
														<td>
															Remarks:
														</td>
														<td>
															<pre>{{ folio_item.remarks }}</pre>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>

								</div>
							</span>
						</div>

					</div>

				</div>
		</div>

	{% else %}

		<div class="d-flex p-2 flex-column justify-content-center align-items-center">
			<br>
			<h2 class="text align-self-center p-2">Portfolio Item Details Not Found.</h1>
			<div class="col-lg-8 col-sm-10">
				<hr style="border-width: 2px;">
			</div>
			<a href="{{ url_for('portfolio.add_portfolio_item') }}" class="btn btn-success btn-sm" role="button">
				<i class="fa fa-plus"></i> Add New
			</a>
		</div>

	{% endif %}

</div>






<script>


$(document).ready(function(){

	var ctx = document.getElementById("myChart");
	var myChart = new Chart(ctx, {
	    type: 'line',
	    data: {

	        labels: [{% for item in chart_data_24h_labels %}
                  		"{{item}}",
              		{% endfor %}],
	        datasets: [{
	            label: 'Price ',
	            data: [{% for item in chart_data_24h_values %}
                  		"{{item}}",
              			{% endfor %}],
	            backgroundColor: [
	                'rgba(54, 162, 235, 0.2)'
	            ],
	            borderColor: [
	                'rgba(54, 162, 235, 1)',
	            ],
	            borderWidth: 2,
	            pointRadius: 0,
	            pointHoverRadius: 2,
	            pointHoverBackgroundColor: 'rgba(153, 102, 255, 1)',
	            pointHoverBorderColor: 'rgba(153, 102, 255, 1)',
	            fill: true,
	            spanGaps: true,
	        }]
	    },
	    options: {

 			title: {
      			display: true,
      			text: 'Last 24 Hours'
    		},



    		legend: {
            display: false,
        	},

        	padding: {
                left: 0,
                right: 0,
                top: 0,
                bottom: 0
            },

            animation: {
            	duration: 1000,
            },

            tooltips: {
            	enabled: true,
            	backgroundColor: 'rgba(54, 162, 235, 1)',
            	titleFontColor: 'rgba(0, 0, 0, 1)',
            	bodyFontColor: 'rgba(0, 0, 0, 1)'
            },

	        scales: {

	       

	        	xAxes: [{
                	display: true,
                	gridLines: {
                    	display: false,
                		},
            	}],

	            yAxes: [{
	                ticks: {
	                    beginAtZero:false
	                },
	                gridLines: {
                    	display: true,
                		},
	            }]
	        }
	    }
	});

	var ctx2 = document.getElementById("myChart2");
	var myChart2 = new Chart(ctx2, {
		type: 'line',
	    data: {

	        labels: [{% for item in chart_data_7d_labels %}
                  		"{{item}}",
              		{% endfor %}],
	        datasets: [{
	            label: 'Price ',
	            data: [{% for item in chart_data_7d_values %}
                  		"{{item}}",
              			{% endfor %}],
	            backgroundColor: [
	                'rgba(54, 162, 235, 0.2)'
	            ],
	            borderColor: [
	                'rgba(54, 162, 235, 1)',
	            ],
	            borderWidth: 2,
	            pointRadius: 0,
	            pointHoverRadius: 2,
	            pointHoverBackgroundColor: 'rgba(153, 102, 255, 1)',
	            pointHoverBorderColor: 'rgba(153, 102, 255, 1)',
	            fill: true,
	            spanGaps: true,
	        }]
	    },
	    options: {

 			title: {
      			display: true,
      			text: 'Last 7 Days'
    		},



    		legend: {
            display: false,
        	},

        	padding: {
                left: 0,
                right: 0,
                top: 0,
                bottom: 0
            },

            animation: {
            	duration: 1000,
            },

            tooltips: {
            	enabled: true,
            	backgroundColor: 'rgba(54, 162, 235, 1)',
            	titleFontColor: 'rgba(0, 0, 0, 1)',
            	bodyFontColor: 'rgba(0, 0, 0, 1)'
            },

	        scales: {

	       

	        	xAxes: [{
                	display: true,
                	gridLines: {
                    	display: false,
                		},
            	}],

	            yAxes: [{
	                ticks: {
	                    beginAtZero:false
	                },
	                gridLines: {
                    	display: true,
                		},
	            }]
	        }
	    }
	});

});






function delete_record() {
    if (confirm("Do you want to delete this record?")) {

    }
}


</script>


{% endblock %}